.title {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

form {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.custom-button {
  background-color: greenyellow;
  color: blue;
  border: none;
  padding: 10px;
}
